<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Star Rating Example</title>
  </head>
  <body>
    <div class="rating_container">
      <div class="text-center">
        {% for i in range(5) %}
						
					{% endfor %}
					&nbsp;&nbsp;
      </div>
      <div class="text-center">
        <form method='POST' action="">
          <input type="hidden" id="rating_content" name='rating' value='0'>
        </form>
      </div>
      <div class="text-center">
        <div id="display_rating">
          <h1>{{rating}}</h1>
          <div class="row align-items-center">
            <div class="offset-1 col-1 mt-3">
              <p style="font-size: 14px;">5</p>
            </div>
            <div class="col-8">
              </div>
            </div>
          </div>
          <div class="row align-items-center inner-ratings">
            <div class="offset-1 col-1 mt-3">
              <p style="font-size: 14px;">4</p>
            </div>
            <div class="col-8">
              </div>
            </div>
          </div>
          <div class="row align-items-center inner-ratings">
            <div class="offset-1 col-1 mt-3">
              <p style="font-size: 14px;">3</p>
            </div>
            <div class="col-8">
              </div>
            </div>
          </div>
          <div class="row align-items-center inner-ratings">
            <div class="offset-1 col-1 mt-3">
              <p style="font-size: 14px;">2</p>
            </div>
            <div class="col-8">
              </div>
            </div>
          </div>
          <div class="row align-items-center inner-ratings">
            <div class="offset-1 col-1 mt-3">
              <p style="font-size: 14px;">1</p>
            </div>
            <div class="col-8">
              </div>
            </div>
          </div>
          <div class="row align-items-center inner-ratings">
            <div class="col-12">
              <h5>Current Rating: &nbsp;&nbsp;{{count}}</h5>

              <input type="submit" id="submitbtn" class="btn btn-primary mt-2" value="Submit my Rating">
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      starBars(
        five_stars = '{{five_stars}}',
        four_stars = '{{four_stars}}',
        three_stars = '{{three_stars}}',
        two_stars = '{{two_stars}}',
        one_star = '{{one_star}}',
        total_votes = '{{count}}'
      )
    </script>
  </body>
</html>